<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
</head>
<body>
    <h2> Registration </h2>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{message}}</li>
        {%endfor%}
    </ul>
    {%endif%}
    <form action="/registration" method = "POST">
        {% csrf_token %}
    First Name: <input type="text" name="first_name"><br>
    Last Name: <input type="text" name="last_name"><br>
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="pw"><br>
    Confirm pw: <input type="password" name="cfpw"><br>
    <input type="submit" value="Register">
    </form>
    
    
    <h2>Login</h2>
    <form action="/login" method = "POST">
        {% csrf_token %}
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="pw"><br>
    <input type="submit" value="Login">  
    </form>  
</body>
</html>