<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <h1>This is homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fuga alias deserunt, minus enim, vitae dignissimos tempore, nam error distinctio consequatur neque saepe repudiandae ullam. Consectetur voluptatem perferendis neque dolores. </p>
</body>
</html>