<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
</head>
<body>
    <h1> Welcome to Great Number Game! </h1>
    <p> I am thinking of a number betweem 1 and 100 </p>
    <p> Take a guess</p>
    {% if 'input' in session  %}
        <div>Too {{relative}}</div>
    {% endif %}
    {% if session['win'] %}
        <div>
            <p>{{mykey}} was the number</p>
            <a href="/">Play again</a>
        </div>
    {% else: %}        
        <form action = "/1", method="POST">
            <input type= "text" name="input"><br>
            <input type="submit">
        </form>
    {% endif %}    

</body>
</html>