<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>
</head>
<body>
    <h1>{{this_book.title}}</h1>
    <p>{{this_book.author}}</p>
    <h3>Reviews:</h3>
    {% for review in book_reviews %}
    <p>Rating: {{review.rating}}</p>
    <p>{{review.reviewed_by.first_name}} says: {{review.content}}</p>
    <p>Posted on {{review.created_at}}</p>
    {% endfor %}
    <br>
    <br>
    <h3>ADD A REVIEW</h3>
    <form action="/addreview/{{this_book.id}}" method="POST">
        {%csrf_token%}
        <input type="textarea" name="review">
        <p>Rating: <input type="text" name="rating"></p>
        <input type="submit" value="ADD">
    </form>
</body>
</html>