<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Record Store</title>
</head>
<body>
    <h1>Record Store</h1>
    {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <h3>Register</h3>
    <form action = "/register" method = "POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name ="first_name"></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" name ="last_name"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" name ="email"></td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td><input type="date" name ="dob"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name ="password"></td>
            </tr>
            <tr>
                <td>Confirmation PW:</td>
                <td><input type="password" name ="cfpw"></td>
            </tr>
        </table>
        <input type="submit" value="Register">
    </form>

    <h3>Login</h3>
    <form action="/login" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Email:</td>
                <td><input type="text" name ="email"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name ="password"></td>
            </tr>
        </table>    
        <input type="submit" value="Login">
    </form>
</body>
</html>